<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <mat-toolbar color="primary">
    <span>
      Local Weather
    </span>
  </mat-toolbar>
  
  <h1 class="mat-headline">
    Welcome to {{ title }}!
  </h1>
  
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
  
  <div fxLayoutAlign="center" class="mat-caption vertical-margin">Your city, your forecast, right now!</div>
  
  <div fxLayout="row">
    <div fxFlex></div>
    
    <mat-card fxFlex="300px">
      
      <mat-card-header>
        <mat-card-title class="mat-headline">Current Weather</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <app-current-weather class="mat-body"></app-current-weather>
      </mat-card-content>
      
    </mat-card>
    
    <div fxFlex></div>
  </div>
  
  <p class="mat-body">
    Excerpt From: Doguhan Uluca. “Angular 6 for Enterprise-Ready Web Applications.” Apple Books.
  </p>

</div>

